@media (max-width: 992px) {

    .navbar{
        gap: 10px;

    }

    .navbar__list{
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background: var(--background-2);
        border: 2px solid var(--primary);
        border-top: none;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        gap: 25px;
        padding:  45px 30px;
        z-index: 2;
        transform: translateX(200%);
        transition: all 0.4s ease;
    }

    .menu-label{
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor:pointer;
        order: 2;
    }
    
    .menu-label span {
        
        width: 25px;
        height: 1.5px;
        background: var(--text-color);
    }

    #toggle-menu:checked ~ .navbar__list{
        transform: translateX(0);
    }

    #info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .info-cards-descripcion{
        max-width: 1000px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width:792px){
    #hero{
        display: flex;
        flex-direction: column;
    }

    .hero-info{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hero-info h1,
    .hero-info p{
        text-align: center;
    }
}

@media (max-width:556px) {

    .hero-info{
        width: 90%;
    }
    .hero-cart{
        display: none;
    }
    
    #info h2{
        text-align: center;
    }


    #descripcion{
        width: 70%;
        font-weight: 200;
    }

    .info-contact-footer{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .info-contact-footer h2{
        text-align: center;
    }
    
    .info-contact{
        display: flex;
        flex-direction: row;
    }

    .info-column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
    }

    
    iframe{
        width: 60%;
    }
}

@media (max-width:414px) {

    #hero{
        width: 80%;
    }
    .hero-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    

    .hero-bottom{
        display: flex;
        flex-direction: column;
    }

    .hero-cart{
        display: none;
    }

    #info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #info h2{
        text-align: center;
    }

    .info-card{
        width: 80%;
    }
    #contact{
        width: 90%;
    }

    .info-contact-footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .info-contact-footer h2{
        text-align: center;
    }
    
    .info-contact{
        display: flex;
        flex-direction: column;
    }

    .info-column{
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
    }
}