@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    
}
:root{
    --background: #373B44;  /* fallback for old browsers */
    --background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    --background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    --background-2: #141E30;  /* fallback for old browsers */
    --background-2: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    --background-2: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --primary: #0D0D49; 
    --secundary: #192BC2;
    --celeste: #449dd1;
    --celeste-light: #78C0E0;
    --text-color: #e1d2d2;
    --img-color:#0E0E52;
    --home-color:#f5f5f5;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-2);
    width: 100%;
    padding: 5px 30px 0px 30px;
    height: 65px;
    position: fixed;
    
}

.navbar i{
    font-size: 36px;
    display: none;
}

#toggle-menu {
    display: none;

}


#toggle-menu:checked ~ .navbar__list {

    display: flex;
}



.navbar,
.navbar__list{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;

}

.navbar{
    gap: 100px;
    

}

.navbar__list{
    gap: 30px;
}

.navbar__list a{
    color: var(--text-color);
}

.navbar__list li:first-child >a{
    color: var(--home-color);
    font-size: 18px;
}

.cart-icon{
    font-weight: 600;
    height: 30px;
    height: 100%;
    padding: 5px 10px;
    margin-right: 1rem;
    cursor: pointer;
}

.logo {
    height: 80%;
}

.main{
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#hero {
    display: flex;
    padding: 70px 0px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: "Poppins", sans-serif;
    width: 90%;
}

.hero-info{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 35%;   
    padding: 70px 0px;
}
.hero-info h1{
    font-size: 50px;
    color: var(--text-color);
    
}

.hero-info p{
    font-size: 20px ;
    color: var(--text-color);
}

.hero-info p > span {
    font-weight: 1000;
    color: var(--primary);
}

.hero-bottom{
    display: flex;
    gap: 30px;
}

.hero-bottom a{
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    border: 3px solid #0D0D49;
}

.primary-btn{
    background: var(--text-color);
    color: var(--primary);
}

.catalogo-btn{
    background: var(--primary);
    color: var(--text-color);
}


.hero-cart img{
    width: 380px;
    height: 440px ;
    border-radius: 0.5rem;

}

.hero-cart{
    padding: 15px;
    background: var(--img-color);
    border-radius: 1rem;
    
    
}

.hero-cart-info{
    font-weight: 200px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    padding: 8px 10px 10px 10px;
}


.hero-cart-talles {
    color: var(--text-color);
    padding-left: 0;
    
}

.hero-cart-talles li{
    position: relative;
    padding-left: 20px;
}

.hero-cart-talles li::before {
    content: '';
    width: 18px;  ;
    height: 18px;
    position: absolute;
    background-image: url(./img/fitzo\ icon.png);
    background-position: center;
    background-size: cover;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#descripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 30px 0;
    max-width: 850px;
    font-weight: 100;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    text-align: center;
    line-height: 25px;
}

#info{
    font-family: 'Cabin', sans-serif;
    color: var(--text-color);
    max-width: 1200px;
    padding: 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

#info h2{
    font-size: 32px;
    font-weight: 800;
}

.info-card img {
    width: 80px;
    height: 80px;
}

.info-cards-descripcion{
    display: flex;
    justify-content: space-around ;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 28px;
}

.info-card{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 15px;
    background-color: var(--primary);
    border-radius: 1rem;
    height: 250px ;
}

.info-card p{
    font-size: 14px;
    font-weight: 300;
}



.info-local img,
.info-mail img,
.info-phone img,
.info-insta img,
.info-face img{
    width: 15px;
    height: 15px;
    color: var(--text-color);
}

.info-local,
.info-mail,
.info-phone,
.info-insta,
.info-face{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 20px;

}

#contact{
    display: flex;
    padding: 70px 0px;
    width: 100%;
    color: var(--text-color);
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    font-family: "Poppins", sans-serif;
}

.info-contact-footer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.info-contact-footer h2{
    font-weight: 800;
    font-size: 30px;
}

.info-contact{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.info-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-insta a,
.info-face a{
    color: var(--text-color);
}

iframe{
    width: 500px;
    height: 400px;
    border-radius: 15px;
}

footer{
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Cabin', sans-serif;
    
}

footer p{
    color: var(--text-color);
}

footer img{
    width: 100px;
    height: 100px;
}

@media (max-width: 992px){

    #contact{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .info-contact-footer{
        width: 30%;
        padding-left: 40px;
    }

    iframe{
        width: 30%px;
        height: 30%px;
    }

    .info-cards-descripcion{
        display: flex;
        flex-direction: column;

    }

    .info-card{
        width: 500px ;
    }
}

@media (max-width: 768px) {
    #hero{
        display: flex;
        flex-direction: column;
    }
    .hero-info{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .hero-cart img{
        width: 100%;
        height: 100%;
    }
    .hero-cart{
        width: 90%;
    }

    .hero-cart-talles{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info-card{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .info-card img{
        width: 30%;
    }

    .info-card p{
        width: 40%;
    }
    
    #contact{
        width: 100%;

    }
}
    

@media (max-width: 576px ) {
    .navbar ul {
        background: var(--background-2);
        width: 100%;
        height: calc(100% -80px );
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .navbar i {
        display: block;
    }
    #hero{
        display: flex;
        flex-direction: column;
        
    }

    .hero h1{
        display: flex;
        width: 350px;
    }

    .hero-info{
        width: 350px;
    }

    .hero-cart img{
        width: 330px;
        
    }

    .hero-cart{
        width: 350px;
        padding: 10px;
    }

    #info h2{
        text-align: center;
    }    

    .info-card{
        width: 300px;
        display: flex;
        flex-direction: column;
        font-size: 25px;
    }
    
    .info-card img{
        width: 90px;
        height: 90px;
    }

    .info-card p{
        font-size: 16px;
    }

    .info-contact-footer{
        width: 350px;
    }

    iframe{
        width: 300px;
        height: 300px; 
        border-radius: 30px;
    }
}
